.item-control {
  position: absolute;
  top: 0;
  right: 1rem;
}

.control {
  display: flex;
  justify-content: space-between;
}

.flexcontainer {
  width: 100%;
  margin: auto;

  .image {
    margin: auto;
  }

  img {
    border-radius: 20px;
    object-fit: cover;
  }

  .btn-like {
    width: 150px;
    background-color: rgb(229, 229, 229);
    margin-right: 10px;
  }

  .btn-like:hover {
    background-color: red;
    color: rgb(255, 255, 255);
  }

  .username {
    text-decoration: none;
    color: rgb(0, 72, 226);
  }
}

.likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .liked-by {
    margin-left: 10px;
  }

  .underline {
    text-decoration: underline;
    cursor: pointer;
  }

  .heart-icon {
    color: red;
  }

  .heart-icon-crack {
    color: rgb(121, 121, 121);
  }
}

.comment {
  text-align: left;
  margin: 0;

  p {
    margin: 0;
  }

  a {
    font-size: 1.2rem;
  }
}

.dropdown__toggle {
  margin: 0;
}

.cookie {
  color: rgb(181, 90, 26);
  font-size: 1.5rem;
}

@media only screen and (min-width: 1001px) {
  .flexcontainer {
    display: flex;
    flex-direction: flex-start;
  }

  //   .item-controls{
  //     width: 100%;
  //     display: flex;
  //     justify-content: space-between;
  //   }
  img {
    height: 250px;
    max-width: 250px;
    margin-right: 20px;
  }

  .image {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1000px) {
  .image {
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .flexcontainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  img {
    height: 230px;
    max-width: 230px;
  }
}

@media only screen and (max-width: 600px) {
  img {
    height: 200px;
    max-width: 200px;
  }
}